input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}i
input[type=text]:focus {
    width: 100%;
}
.center{
  background-color: #BDBDBD;
  margin:20% 40%;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
#fix{
  margin:40%;
}
#move{
  margin-left: 4%;
}
p{
  text-align: center;
}
body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTthirRjQdk_QTndmk93CgcpMY60LR1U1wUKIuNxr6vBHrLlHmqKg");
}
h3{
  margin-left: 23%;
}
.button{
  background-color: #757575;
  border: 0px;
  padding:10px 50px;
  margin-left: 4%;
  margin-bottom: 10%;
  font-size: 15px;
}
